.superfences-tabs {
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.superfences-tabs .highlight {
    background: #ddd;
}

.superfences-tabs .superfences-content {
    display: none;
    order: 99;
    width: 100%;
}

.superfences-tabs label {
    width: auto;
    margin: 0 0.5em;
    padding: 0.25em;
    font-size: 120%;
    cursor: pointer;
}

.superfences-tabs input {
    position: absolute;
    opacity: 0;
}

.superfences-tabs input:nth-child(n+1) {
    color: #333333;
}

.superfences-tabs input:nth-child(n+1):checked + label {
    color: #FF5252;
}

.superfences-tabs input:nth-child(n+1):checked + label + .superfences-content {
    display: block;
}
