<html>
<head>
    <link rel="stylesheet" href="current/css/theme.css" type="text/css"/>
    <link rel="stylesheet" href="current/css/theme_extra.css" type="text/css"/>
</head>
<body role="document">
<div class="wy-nav-content">
    <div class="rst-content">
        <div role="main">
            <div class="section">
                <h1>Available NXCALS Documentation versions</h1>
                <ul>
                    <li><a href="current">Current version</a></li>
                    {% for item in docs_versions %}
                    <li><a href="{{ item }}">{{item}}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
